<app-header></app-header>
<main>
  <h3>
    Conheça os catálogos de nossos clientes
    <span>• Explore e Inspire-se!</span>
  </h3>
  <ul class="filtro">
    <li (click)="filtrar('Tudo')" [class.ativo]="'Tudo' === categoriaAtiva">
      Tudo
    </li>
    <li (click)="filtrar('j')" [class.ativo]="'j' === categoriaAtiva">joias & acessórios</li>
    <li (click)="filtrar('c')" [class.ativo]="'c' === categoriaAtiva">cosméticos</li>
    <li (click)="filtrar('v')" [class.ativo]="'v' === categoriaAtiva">vestuário</li>
    <li (click)="filtrar('o')" [class.ativo]="'o' === categoriaAtiva">outros</li>
  </ul>
  <div class="catalogos">
    <div
      class="catalogo"
      *ngFor="
        let f of filtro.slice(
          (paginaAtual - 1) * 20,
          paginaAtual * 20
        )
      "
    >
      <div class="img">
        <img src="assets/{{ f.acesso }}.png" alt="" />
      </div>
      <a href="{{ f.link }}" target="_blank"
        ><i class="bx bx-link-external"></i> visualizar</a
      >
    </div>
  </div>
  <div class="pag">
    <button (click)="paginaAnterior()" [disabled]="botaoPaginaAnteriorDesabilitado()"><i class='bx bx-left-arrow-alt'></i></button>
    <button (click)="proximaPagina()" [disabled]="botaoProximaPaginaDesabilitado()"><i class='bx bx-right-arrow-alt' ></i></button>
  </div>

</main>
